<h1>Hello, this is your coach!</h1>
<!--  Where do we go? 👇 (path)           What's the verb? 👇 -->
<form action="/answer" method="get">
<!-- What's the label of params? 👇 -->
  <input type="text" name="query" placeholder="What?">
  <input type="submit" value="Ask!">
</form>